.jumbotron {
    margin-top: -40px !important;
}

#table {
    opacity: .8;
    text-align: center;
    height: 550px;
    overflow-y: scroll;
    position: relative;
    bottom: 75px;
}

#deleteButton {
    position: relative;
    right: 65px;
    font-size: 15px;
    background-color: lightslategray !important;
    border-color: lightslategray !important;
}

#editButton {
    position: relative;
    right: 65px;
    font-size: 15px;
    background-color: lightslategray !important;
    border-color: lightslategray !important;
}

#addButton {
    font-size: 15px;
    background-color: lightcoral !important;
    border-color: lightcoral !important;
}

#editButton:hover {
    background-color: lightcoral !important;
    border-color: lightcoral !important;
}

#deleteButton:hover {
    background-color: lightcoral !important;
    border-color: lightcoral !important;
}

#addButton:hover {
    background-color: lightsalmon !important;
    border-color: lightsalmon !important;
}

th {
    font-weight: bolder
}

.modalTitle {
    text-align: center;
    margin-bottom: 30px
}

.form-control {
    text-align: center;
    width: 75%;
    margin-bottom: 20px;
    margin: 0 auto;
}

.submitButton {
    font-size: 15px;
    background-color: lightcoral !important;
    border-color: lightcoral !important;
    margin: 0;
    position: absolute;
    top: 88%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.submitButton:hover {
    background-color: lightsalmon !important;
    border-color: lightsalmon !important;
}

#close {
    font-size: 22px;
    cursor: pointer;
    position: absolute;
    right: 10px
}

#close:hover {
    zoom: 101%;
}