#header {
    font-size: 35px;
    color: silver !important
}

a {
    color: silver !important
}

a:hover{
    color: orange !important;
    zoom: 101%;
    text-decoration: none;
    cursor: pointer;
}